*/.build*/*
*/bin/*
*.o
*.xe
*.vcd
*.s
*.xi
*.i
*.a
#no eclipse project files
.project

#do not check in depdendency files
*.xc.d
*.c.d
*.s.d
test_mii_singlethread/images/
doc/.doxygen/
doc/.sources/
doc/Doxyfile-e

